280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;12;Aristo.blendK;18;CPBundleIdentifierS;21;com.280n.blend.AristoK;15;CPBundleVersionf;3;0.1K;19;CPBundlePackageTypeS;4;BLNDK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;15;Aristo.blend.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;13;CPKeyedThemesA;S;17;Aristo.keyedthemeE;E;